table {
    width: 100%;
  }

mat-table mat-header-row:nth-child(1),
mat-table mat-row:nth-child(1){
  max-width:30%;
}

mat-table mat-header-row:nth-child(2),
mat-table mat-row:nth-child(2){
  min-width: 25%;
}
   