.container {
    min-height: auto;
}

.signup-card{
  background-color: #f7f7f7;
  min-width: 450px;
  max-width: 450px;
  width: 30%;
  padding: 10px 40px;
  margin: 40px auto 25px;
}

    .filtros,
.filtros-avanzados {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-input {
    width: 47%;
  }
  @media only screen and (max-width: 500px) {
    .item-input {
      width: 100%;
    }

    .container {
        min-height: 800px;
    }
  
  }